// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

/*Variables and mixins*/

@font:  'Muli', sans-serif;
// @mainBg:  rgba(250, 201, 201, 0.61);
@mainBg:  rgba(235, 182, 182, 0.521);
@textColor: rgb(143, 0, 0);


.flexRow(){
	display: flex;
	justify-content: space-evenly;
}

.flexColumn(){
	display: flex;
	flex-flow: column nowrap;
}

.whiteBg(){
	background-color: @mainBg;
	border-radius: 20px;
}

.testBorder(){
	border: solid red 2px;
}

/*End of variables and mixins*/



html, body {
	height: 100%;
	font-size: 62.5%;
	max-width: 100%;
}

body{
	margin: 0% 10%;
	// background-color: pink;
	font-family: @font;
	font-size: 1.6rem;
	background-attachment: fixed;
	background-repeat: no-repeat;
	// background-size: 1920px 1080px;
	background-size: cover;
}

section{
	text-align: center;
	margin: 3% 0%;

	@media (max-width: 500px){
		margin: 5% 0%;
	}
}

h1{
	font-size: 5rem;
}

h2{
	font-size: 3rem;
	margin: 2%;
}

h3{
	font-size: 2rem;
	// text-decoration: underline;
}


nav{
	text-align: center;
	.flexRow();
	margin: 3% auto;
	padding: auto 0;
	border-radius: 10px;
	background-color: rgba(252, 99, 132, 0.507);
	width: 40%;
	align-items: center;
	height: 25px;

	a{
		text-decoration: none;
		color: white;
		text-align: center;
	}

	@media (max-width: 500px){
		width: 90%;
		height: 3%;
		margin-bottom: 10%;
	}
}

.navTop {
	text-decoration: underline;
}

#topContainer{
	.flexRow();
	height: 35vh;
	justify-content: center;
	align-items: center;
	color: @textColor;

	@media (max-width: 500px) {
		.flexColumn();
		height: 99vh;
		margin-top: 3%;
	}
	
}

#topSection{
	.flexRow();
	border-radius: 20px;
	background-color: @mainBg;
	align-items: center;
	margin-right: 3%;
	margin-top: 0;
	width: 55%;
	

	.me{
		width: 60%;
		border-radius: 100%;
	}

	.cardInfo{
		width: 40%;
		text-align: left;
		padding-left: 5%;

		div{
			.flexRow();
			margin: 8% 0%;
			justify-content: left;
			font-size: 2.5rem;

			a{
				margin-right:4%;
				color: rgb(255, 58, 166);
				text-decoration: none;

			}



		}

	}

	.cardMe{
		width: 40%;
		padding: 2% 0;
	}

	@media (max-width: 500px) {
		width: 100%;
		height: 60%;
		.flexColumn();
		flex-direction: column-reverse;

		.cardMe{
			width: 100%;
		}

		.cardInfo{
			width: 100%;
			.flexColumn();
			justify-content: center;
			align-items: center;
			padding: 0;
			
			div{
				font-size: 1.5rem;
				width: 70%;
				text-align: center;
				margin: 3%;

			}
		}
	}

}

.besideCard{
	width: 25%;
	height: 33vh;
	.flexColumn;

	section{
		background-color: @mainBg;
		border-radius: 20px;
		padding: 4% 0;
		height: 20vh;
	}

	.beside1{
		.flexColumn();
		align-items: center;
		justify-content: space-evenly;
		text-align: justify;
		// padding: 2%;

		p{
			max-height: inherit;
			width: 80%;
		}
	}

	.beside2{
		.flexColumn();
		align-items: center;
		justify-content: space-evenly;
		max-width: 100%;

		ul{
			list-style: circle;
			list-style-position: inside;
			padding-top: 3%;
			width: 50%;
			text-align: center;

			li{
				padding: 2%;
			}

		}

	}

	@media (max-width: 500px) {
		width: 100%;
		height: 50vh;
	}

}

#aboutSection{
	.whiteBg();
	padding: 2%;
	color: @textColor;

	div p{
		margin-bottom: 2%;
	}

	@media (max-width: 500px) {
		margin-top: 6%;
	}

}

#skillsSection{
	.whiteBg();
	text-align: center;
	padding: 2%;
	color: @textColor;

	div{
		padding: 2%;
		margin-bottom: 2%;
		.flexRow();
		align-items: center;
		justify-content: space-evenly;

		ul{
			text-align: left;
			list-style: circle;
			padding: 1%;

			li{
				padding: 2%;
			}

		}

		video{
			border-radius: 10px;
		}

		@media (max-width: 500px){
			.flexColumn();

			ul{
				width: 60%;
			}

			video{
				padding: 4% 0% 0 0;
				width: 70%;
			}
		}
	}

}

#portfolioSection{
	.whiteBg();
	padding: 2%;
	color: @textColor;

	@media (max-width: 500px) {
		display: none;
	}
	
	div{
		margin: auto;
		.flexRow();
		justify-content: center;

		@media (max-width: 500px){
			.flexColumn();
		}

		div{
			.flexColumn();
			justify-content: center;
			
			h3{
				margin: 4%;
			}
		}

		div img{
			
			height: 30vh;
		}
	}

	.portfolioContent{
		display: grid;
		grid-template: 'pB''pB';
		margin: auto;
		text-align: center;
		color: @textColor;
		

		.pB{
			display: grid;
			width: 95%;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(5, 1fr);
			grid-auto-rows: minmax(100%, auto);
			max-height: 60vh;
			margin-bottom: 3%;
			background-color: rgba(255, 255, 255, 0.39);
			border-radius: 10px;
			// grid-gap: 1%;

			*{
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				// .testBorder();

			}

			img{
				margin: auto;
				max-width: 100%;
				width: 100%;
				height: auto;
				border-right: solid 2px @textColor;
			}
			
			a{
				grid-column: ~'1/5';
				grid-row: ~'1/6';
			}

			h3{
				margin: 0;
				grid-column: ~'6/8';
				grid-row: ~'1/2';
				font-size: 3rem;

				a{
					color: @textColor;
				}

			}

			ul{
				list-style: circle;
				list-style-position: inside;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(4, 1fr);

				li{
					margin: 3%;
				}
			}

			.techStack{
				grid-column: ~'5/7';
				grid-row: ~'2/3';
			}

			.techList{
				grid-column: ~'5/7';
				grid-row: ~'3/6';
			}

			.dutiesStack{
				grid-column: ~'7/9';
				grid-row: ~'2/3';
			}

			.dutiesList{
				grid-column: ~'7/9';
				grid-row: ~'3/6';
			}


		}


		// @media (max-width: 500px) {
		// 	height: 200vh;
		// 	max-height: 300vh;

		// 	.pB{
		// 		height: 150vh;
		// 		.testBorder();
		// 		margin: 0;
		// 	}
		// }

	}

}

#mobilePort{
	display: none;

	@media (max-width: 500px) {
		display: block;
		.whiteBg();
		padding: 2%;
		color: @textColor;

	
		div{
			margin: auto;
			.flexRow();
			justify-content: center;
			.flexColumn();


			div{
				.flexColumn();
				justify-content: space-between;
				border-top: solid white 3px;
				border-radius: 5px;
				padding: 20% 0;

				
				h3{
					margin: 4%;
					a{
					color: @textColor;
					}
				}
				h4{
					font-size: 2.3rem;
					margin: 5% 0;
				}
			}

			div img{
				width: 100%;
				height: 20vh;
				margin: 10% 0;
			}
		}

	}
}

#contactSection{
	.whiteBg();
	color: @textColor;
	padding: 2%;
	background-color: rgba(248, 207, 207, 0.562);
	
	*{
		margin: 0;
	}

	p{margin-top: 1%;}
}