.App {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  /* border: solid red 1px; */
  width: 20%;
  /* margin: 20px auto; */
}

.card img {
  width: 60px;
  object-fit: cover;
  border-radius: 100% 100%;
  border: solid white 1px
}

body {
  background: pink;
}

.content {
  border: solid red 1px;
  padding: 20px;
  border-radius: 20px;
  height: 60vh;
  margin: 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  border: solid red 1px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.navItems {
  border: solid red 1px;
  width: 20%;
  display: flex;
  justify-content: center;
}

