.App {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  /* border: solid red 1px; */
  width: 15%;
  /* margin: 20px auto; */
}

.card img {
  width: 60px;
  object-fit: cover;
  border-radius: 100% 100%;
  /* border: solid white 1px */
}

body {
  background: #89d4ff;
  color: rgb(253, 103, 153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  border: solid  rgb(255, 168, 201, 0.842) 1px;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  background-color: rgba(255, 168, 201, 0.842);
  /* padding: 1%; */
}

.content {
  /* border: solid red 1px; */
  padding: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 100%;
  /* color: pink; */
  background-color: rgba(0, 0, 0, 0);
}

.nav {
  display: flex;
  background-color: rgb(253, 103, 153);
  color: white;
  flex-direction: row;
  /* border: solid red 1px; */
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  /* margin: 20px 20px 0 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid rgb(253, 103, 153) 1px;
  /* padding: auto; */
  /* border-bottom: white dotted 4px; */
}

.navItems {
  /* border: solid red 1px; */
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgba(253, 103, 153, 0) 1px;
}

.active {
  border-radius: 7px;
  background-color: rgb(240, 60, 120);
}

.contentGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px 1fr 1fr 20px;
  grid-template-rows: 20px 1fr 1fr 20px 1fr 1fr 20px;
  /* border: solid green 1px; */
}

/* .contentGrid p {
  margin: 0;
  border: solid red 1px;
  width: 100%;
  height: 100%;
} */

.homeText {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  width: 100%;
  height: 100%;
  /* grid-row: 2 / 2; */
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeSkills {
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  width: 100%;
  height: 100%;
  /* grid-row: 2 / 2; */
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeText h1 {
  margin: 0;
  /* height: 25%; */
  width: 100%;
  /* border: solid white 1px; */
  text-align: center;
  /* justify-self: left; */
}

.homeText p {
  margin: 0;
  height: 50%;
  /* border: solid green 1px; */
}

.homeWorks {
  border: solid white 1px;
  grid-column: 5 / span 2;
  grid-row: 2 / span 2;
}